
    <section class="dataContainer">

        <div class="dataSection">

            <div class="dashboardGridContainer">
                <div class="row">
                    <div class="col-sm-4">
                        <h1>Companies</h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <input type="text" class="form-control searchBox" placeholder="search">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a href="AdminHome#/Company" class="btn btn-primary mr-2"><img src="images/addICon.png"><span>Add New</span> </a>
                                <!-- <a href="AdminHome#/CompanyList" class="btn btn-warning"><span>Back</span> </a> -->
                    </div>
                </div>

                <div id="scrollTable">
                    <table class="themeTable" st-table="emptydata" style="width: 100%" st-safe-src="CompanyList" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="20%">Name</th>
                                <th width="15%">City</th>
                                <th width="15%">PAN No.</th>
    
                                <th width="15%">Mobile Number</th>
                                <th width="20%">Email Id</th>
                                <th width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Companydetails in emptydata">
                                <td>
                                    {{Companydetails.Name}}
                                </td>
                                <td>{{Companydetails.CityName}}</td>

                                <td>
                                    {{Companydetails.PAN}}
                                </td>
                                <td>{{Companydetails.Mobile}}</td>
                                <td>
                                    {{Companydetails.Email}}
                                </td>
                                <td>
                                    <!-- <a href="companyedit.html" class="mr-2"></a> -->
                                    <a href="javascript:" ng-click="preview_company(Companydetails.Id)" title="View">
                                        <img src="images/view.svg" alt="">
                                    </a>
        
                                    <!-- <a href="javascript:" ng-click="ExamTimeTable.IsActive == 0 ||EditModal(ExamTimeTable.Id)" title="Edit">
                                        <img src="/img/EditIcon.png" ng-if="ExamTimeTable.IsActive==1" />
                                    </a> -->
                                    <a href="javascript:" ng-click="edit_company(Companydetails.Id)" title="Edit"><img src="images/edit.svg" alt=""></a>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-show="CompanyList.length >10">
                            <tr>
                                <td colspan="35" class="text-center">
                                    <items-page items-On-Page ="itemsOnPage" total-Items="CompanyList.length"></items-page> items per page
                                    <div st-items-by-page="itemsOnPage" style="margin-left: 35%;margin-top: 20px;" st-page-change="rembemberCurrentPage(newPage)" st-pagination="" st-template="views/pagination.custom.html"></div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </section>