    <section class="dataContainer">

        <div class="dataSection" ng-init="CandidateDetails()">

            <div class="dashboardGridContainer">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{{FirstName}}</h1>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end">
                        <a  ng-click="Add_Candidate()" class="btn btn-primary mr-2"><span>Save</span> </a>
                        <a href="AdminHome#/CandidateList" class="btn btn-warning"><span>Cancel</span> </a>
                    </div>
                </div>
                <div class="row mb-3 mt-3">
                    <div class="col-sm-12">
                        <ul class="tabs">
                            <li>
                                <a class="activeTab" href="javascript:;" data-target="basic">Basic Info</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="contact">Contact Details</a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="skill">Skills</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="row" data-destination="basic">
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>First Name <span style="color:red;">*</span></label>
                            <input type="text" ng-model="FirstName" class="form-control">
                            <input type="text" ng-model="Id" ng-init="Id=''" class="form-control" hidden>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Last Name</label>
                            <input type="text" ng-model="LastName" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Pan Number <span style="color:red;">*</span></label>
                            <input type="text" ng-model="PAN" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Adhar Number</label>
                            <input type="text" ng-model="Aadhar" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>DOB <span style="color:red;">*</span></label>
                            <input type="date" ng-model="DOB" ng-init="DOB=''"  ng-change="calculateAge()" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Age </label>
                            <div class="form-control" ng-init="calculateAge()">{{currage}}</div>
                        </div>
                    </div>
                    <div class="col-sm-4 align-self-center">
                        <div class="inputGroup">
                            <label class="mr-3">Gender</label>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="male">
                                    <input type="radio" class="form-check-input" id="male" ng-model="Gender" 
                                        value="1">Male
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="female">
                                    <input type="radio" class="form-check-input" id="female" ng-model="Gender"
                                        value="2">Female
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="others">
                                    <input type="radio" class="form-check-input" id="others" ng-model="Gender"
                                        value="3">Others
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Mobile-1 <span style="color:red;">*</span> </label>
                            <input type="text" ng-model="Mobile1" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Mobile-2 </label>
                            <input type="text" ng-model="Mobile2" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Email Id - 1 <span style="color:red;">*</span></label>
                            <input type="email" ng-model="EmailId1" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Email Id - 2</label>
                            <input type="email" ng-model="EmailId2" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Linked In Profile URL</label>
                            <input type="text" ng-model="LinkedIn" class="form-control">
                        </div>
                    </div>
                    <!-- <div class="col-sm-4">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switch1">
                            <label class="custom-control-label" for="switch1">Active</label>
                        </div>
                    </div> -->
                </div>
                <div class="row" data-destination="contact" style="display: none;">
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Address Line 1</label>
                            <input type="text" ng-model="Address1" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Address Line 2</label>
                            <input type="text" ng-model="Address2" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Address Line 3</label>
                            <input type="text" ng-model="Address3" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Country </label>
                            <select ng-model="Country" ng-init="Country=''" class="form-control" ng-change="StateBasedOnCountry();">
                                <option value=""> Select </option> 
                                <option ng-repeat="sel in CountryList" ng-selected="CountryList==sel.id" value="{{sel.id}}">{{sel.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>State </label>
                            <select ng-model="State" ng-init="State=''" class="form-control" ng-change="CityBasedOnState()">
                                <option value="">Select </option>
                                <option ng-repeat="sel in StateList" ng-selected="StateList==sel.id" value="{{sel.id}}">{{sel.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>City </label>
                            <select ng-model="City" class="form-control">
                                <option value="">Select </option>
                                <option ng-repeat="sel in CityList" ng-selected="CityList==sel.id" value="{{sel.id}}">{{sel.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Pincode</label>
                            <input type="text" ng-model="Pincode" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row" data-destination="skill" style="display: none;">
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Skills</label>
                            <input type="text" ng-model="Skills" class="form-control">
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Current Company</label>
                            <select ng-model="CurrentCompany" class="form-control">
                                <option value="" selected>Select Company </option>
                                <option ng-repeat="sel in CompanyList" ng-selected="CompanyList==sel.Id" value="{{sel.Id}}">{{sel.Name}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Current Location</label>
                            <input type="text" ng-model="CurrentLocation" class="form-control">
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Current Package</label>
                            <input type="text" ng-model="CurrentPackage" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Reason for change</label>
                            <input type="text" ng-model="ReasonforChange" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Preferred City 1</label>
                            <input type="text" ng-model="PreferredCity1" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Preferred City 2</label>
                            <input type="text" ng-model="PreferredCity2" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inputGroup">
                            <label>Preferred City 3</label>
                            <input type="text" ng-model="PreferredCity3" class="form-control">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <script>
        $(function () {
            $('.tabs li a').click(function () {
            $('.tabs li a').removeClass('activeTab');
            $(this).addClass('activeTab');
            $('[data-destination]').hide();
            $(`[data-destination="${$(this).attr('data-target')}"]`).show();



    })
    })
    </script>